body {
    font-family: Arial, sans-serif;
    background-color: #f7eff6;
    margin: 0;
    padding: 0;
}
h2{
    color: rgb(9, 9, 17);
    text-align: center;
    font-size: 25px;
}
.btn{
    display: flex;
    justify-content: center;
    color: pink;
    box-shadow: #2196F3;
    border: none;
   

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #9e6d9e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #36903b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.update-btn, .delete-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background-color: #f44336;
}

.update-btn:hover {
    background-color: #aaee0d;
}

.delete-btn:hover {
    background-color: #da190b;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
